<div id="map">
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	var map = showMap(<%= @devices.first.lat %>,<%= @devices.first.lng %>);
	<% for device in @devices -%>
	showPath(map, [<%= device.waypoints.map(&:lat).join(",") %>], [<%= device.waypoints.map(&:lng).join(",") %>], "#2255ee");
	<% end -%>
});
</script>