<!DOCTYPE html>
<html>
<head>
  <title>Haunt</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script type="text/javascript" charset="utf-8" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
